@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/***
    CSS Reset
***/

html {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}


/***
    CSS variables / basic colours, fonts etc
***/

:root {
  --primary-text: #5f2b68;
  --secondary-text: #c44170;
  --lilac: rgb(235,215,239);
  --lilacShadow: rgb(235, 215, 239, 0.7);
}

body {
  background: white;
  font-family: 'Poppins', sans-serif;
}
